.header {
  display: flex;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 700;
  margin-left: 26px;
  margin-top: 24px;
}

.campaign-icon img {
  height: 50px;
  width: 50px;
}

.name-pay {
  list-style: none;
}

.photo img {
  width: 350px;
  height: 550px;
}

.scrollable-container {
  overflow-x: auto;
  white-space: nowrap;
  margin-bottom: 100px;
  /* border: 2px solid red; */
  height: 650px;
}

.photo {
  list-style-type: none;
  padding: 0;
  margin: 20px;
}

.media-item {
  display: inline-block;
  position: relative;
  margin-right: 20px; /* Adjust as needed */
}

.button-container {
  position: absolute;
  /* bottom: 0; */
  left: 50%;
  transform: translateX(-50%);
}

.link {
  width: 175px;
  height: 50px;
  background-color: #fff;
  border: 1px solid darkgray;
}

.link:hover {
  border: #fff;
}

.link-size {
  width: 30px;
  height: 30px;
  fill: darkgray;
}

/* .tracking-link {

} */

.media-type {
  position: absolute;
  bottom: 250px;
  left: 50%;
  transform: translateX(-50%);
}

.play {
  width: 40px;
  height: 40px;
  fill: #fff;
  /* background-color: #fff; */
}