.header {
  display: flex;
  margin-left: 36px;
  margin-top: 24px;
}

.campaign-icon img {
  height: 50px;
  width: 50px;
}

.name-pay {
  list-style: none;
}

.photo img {
  max-width: 350px;
}

.scrollable-container {
  overflow-x: auto;
  white-space: nowrap;
}

.photo {
  list-style-type: none;
  padding: 0;
  margin: 20px;
}

.media-item {
  display: inline-block;
  position: relative;
  margin-right: 20px; /* Adjust as needed */
}

.button-container {
  position: absolute;
  /* bottom: 0; */
  left: 50%;
  transform: translateX(-50%);
}

.link {
  width: 175px;
  height: 50px;
}

.link-size {
  width: 30px;
  height: 30px;
}

/* .tracking-link {

} */

.media-type {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.play {
  width: 40px;
  height: 40px;
  /* background-color: #fff; */
}