.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.campain-icon{
  width: 50px;
}
.header-container{
  display: flex;
  justify-content: center;
  margin: 20px;
}
.header-text{
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}
.header-pay{
  color: rgb(1, 210, 1);
}
.app-body{
  margin: auto;
  width: 500px;
}
.offer-page{
  display: flex;
  flex-direction: column;
}

.parent {
  position: relative;
  width: 100%;
  max-width: 400px;
}

.image1 {
  width: 100%;
  height: auto;
}

.image2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  /* background-color: #555; */
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}